NODE_ENV=development
PORT=3000

DB_HOST=postgres
DB_PORT=5432
DB_NAME=techstore
DB_USER=techstore_user
DB_PASSWORD=techstore_pass

JWT_SECRET=TechStore_JWT_Super_Secreto_2026_ArgenisSalazar
JWT_EXPIRES_IN=24h

APP_NAME=TechStore Inventory API
